/* ELEMENTS */

body {
  background-color: #ebecf1;
}

a {
  color: #ebecf1;
}

h3 {
  color: #1b1c25
}

p {
  color: #1b1c25
}

img {
  margin-bottom: 1.5rem;
}

/* CLASSES */

.row {
  margin: 1.5rem;
}

.dropdown-item {
  color: #1b1c25;
}


/* IDs */

#header_bar {
  background-color: #206a5d;
}

#logo_bar {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#logo {
  color: #ebecf1;
}

#navsplit {
  margin-top: 1.5rem;

}